.info {
    padding: 40px 20px;
    width: 100%;
    color: #fff;
    text-align: center;
    background: #333;
}

.infoContainer {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pet {
    margin: 20px;
    width: auto;
}

.info-pet img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

@media (max-width: 1020px) {
    .info-pet {
        width: 250px;
    }
}